In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:\\Users\\mufas\\Downloads\\playtennis.csv')
df.head()

  Day   Outlook Temperature Humidity    Wind PlayTennis
0  D1     Sunny         Hot     High    Weak         No
1  D2     Sunny         Hot     High  Strong         No
2  D3  Overcast         Hot     High    Weak        Yes
3  D4      Rain        Mild     High    Weak        Yes
4  D5      Rain        Cool   Normal    Weak        Yes

In [3]:
df.shape

(14, 6)

In [4]:
df.Day.unique()

array(['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11',
       'D12', 'D13', 'D14'], dtype=object)

In [5]:
df.Temperature.unique()

array(['Hot', 'Mild', 'Cool'], dtype=object)

In [8]:
df.Humidity.unique()

array(['High', 'Normal'], dtype=object)

In [9]:
df.Wind.unique()

array(['Weak', 'Strong'], dtype=object)

In [10]:
df.PlayTennis.unique()

array(['No', 'Yes'], dtype=object)

In [14]:
df['Humidity'] = df['Humidity'].map({'High': 1, 'Normal': 0})

In [15]:
df.head()

  Day   Outlook Temperature  Humidity    Wind PlayTennis
0  D1     Sunny         Hot         1    Weak         No
1  D2     Sunny         Hot         1  Strong         No
2  D3  Overcast         Hot         1    Weak        Yes
3  D4      Rain        Mild         1    Weak        Yes
4  D5      Rain        Cool         0    Weak        Yes

# Here im using 0 for 'Hot', 1 for 'Mild' and 2 for 'Cool' for lebal encoding the categorical column

In [16]:
df['Temperature'] = df['Temperature'].map({'Hot': 0, 'Mild': 1, 'Cool':2})

In [17]:
df.head()

  Day   Outlook  Temperature  Humidity    Wind PlayTennis
0  D1     Sunny            0         1    Weak         No
1  D2     Sunny            0         1  Strong         No
2  D3  Overcast            0         1    Weak        Yes
3  D4      Rain            1         1    Weak        Yes
4  D5      Rain            2         0    Weak        Yes

In [18]:
df.Temperature.unique()

array([0, 1, 2], dtype=int64)

In [19]:
df['Wind'] = df['Wind'].map({'Weak': 0, 'Strong': 1})

In [20]:
df.Wind.unique()

array([0, 1], dtype=int64)

In [23]:
df['PlayTennis'] = df['PlayTennis'].map({'No':0, 'Yes': 1})

In [24]:
df.head(20)

    Day   Outlook  Temperature  Humidity  Wind  PlayTennis
0    D1     Sunny            0         1     0           0
1    D2     Sunny            0         1     1           0
2    D3  Overcast            0         1     0           1
3    D4      Rain            1         1     0           1
4    D5      Rain            2         0     0           1
5    D6      Rain            2         0     1           0
6    D7  Overcast            2         0     1           1
7    D8     Sunny            1         1     0           0
8    D9     Sunny            2         0     0           1
9   D10      Rain            1         0     0           1
10  D11     Sunny            1         0     1           1
11  D12  Overcast            1         1     1           1
12  D13  Overcast            0         0     0           1
13  D14      Rain            1         1     1           0

In [25]:
df['Outlook'].unique()

array(['Sunny', 'Overcast', 'Rain'], dtype=object)

# here im using 0 for 'Sunny' , 1 for 'Overcast' and  2  for 'Rain'

In [27]:
df['Outlook'] = df['Outlook'].map({'Sunny': 0,'Overcast': 1, 'Rain': 2 })

In [28]:
df.head()

  Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0  D1        0            0         1     0           0
1  D2        0            0         1     1           0
2  D3        1            0         1     0           1
3  D4        2            1         1     0           1
4  D5        2            2         0     0           1

In [33]:
def Day(x):
    return int(x[1:])

In [34]:
Day('D1')

1

In [35]:
df['Day'] = df['Day'].apply(Day)

In [36]:
df.head()

   Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0    1        0            0         1     0           0
1    2        0            0         1     1           0
2    3        1            0         1     0           1
3    4        2            1         1     0           1
4    5        2            2         0     0           1